* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
ul li {
  list-style: none;
}
ul li a {
  color: blanchedalmond;
}
header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: black;
  top: 0;
  border-bottom: 1px solid seashell;
  width: 100%;
  z-index: 9999;
}
.nav {
  display: flex;
  padding: 60px;
  gap: 2em;
}
.img1 {
  padding-left: 10px;
}
.background {
  height: 700px;
  width: 1200px;
  background-image: url(/resources/images/img-mission-background\ img\ 6.webp);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.content {
  background-color: black;
  padding: 20px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.tea-area {
  padding-top: 5rem;
  width: 1000px;
  margin: 0 auto;
}
h2 {
  padding-bottom: 1rem;
}
.image {
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
}
.tea-images {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;

  margin-left: 250px;
  margin-top: 25px;
}
.locations {
  height: 500px;
  width: 1200px;
  background-image: url(/resources/images/img-locations-background\ img\ 5.webp);
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-left: 200px;
  margin-right: 250px;
  margin-top: 2rem; */
  margin: 0 auto;
}
.location-areas {
  display: flex;
  gap: 3rem;
  margin-top: 15px;
  margin-left: 5.5rem;
  align-content: space-around;
}
.locations h2 {
  padding-top: 1.5rem;
}
.box {
  width: 300px;
  background-color: black;
}
.h4 {
  padding-top: 25px;
}
.footer {
  height: 200px;
}
.footer :last-child {
  padding-top: 20px;
}
.copyright {
  text-align: left;
  padding-left: 20px;
}
